html {    
    background: url("2.jpeg") no-repeat center fixed;     
    background-size: cover;
    background-blend-mode:darken;
}
table{
    margin-top:50px;
    position:right;
    text-align:center; 
    background:#fff; 
    transform:translate(-50%,-50%); 
    border-collapse:collapsed; 
    width:800px; 
    height:200px; 
    border:1px solid #bdc3c716l;
}
#show th, #show td{
     margin-bottom:100px;
     padding:13px;
}

#btna td input{
    width:100%;
}
