html {    
    background: url('2.jpeg') no-repeat center fixed;     
    background-size: cover;
}
table{
    margin-top:50px;
    text-align:center;
    background:#000;
    color:#000;
}
#show th, #show td{
     padding:13px;
}
#btna td input{
    width:100%;
main{
background:rgba(0,0,0,0,7);
background-size:cover;
background-blend-mode:darken;
}
